
            <h2>LOGIN</h2>
            <form id="login" action="/login" method="post">

                <label for="loginUsername">Username:</label>
                <input type="username" id="loginUsername" name="loginUsername" required>
                
                <label for="loginPassword">Password:</label>
                <input type="password" id="loginPassword" name="loginPW" required>
                
                <button id="logbtn" type="submit">LOGIN</button>
            </form>

            <h2>SIGN UP</h2>
            <form id="signup" action="/signup" method="post">

                <label for="signupUsername">Username:</label>
                <input type="username" id="signupUsername" name="signupUsername" required>
                
                <label for="signupPassword">Password:</label>
                <input type="password" id="signupPassword" name="signupPW" required>
                
                <button id="signupbtn" type="submit">SIGN UP</button>
            </form>

