<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Tech Blog</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>

<!-- Header with navigation -->
<header>
    <h1>My Tech Blog</h1>
    {{#if logged_in}}
        <p>Welcome, {{user_id}}</p>
    {{/if}}
    <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li>
            {{#if logged_in}}
                <a href="/logout">Logout</a>
            {{else}}
                <a href="/login">Login</a>
            {{/if}}
        </li>
    </ul>
</nav>

</header>

<!-- Main content -->
<main>
    {{{body}}}
</main>


</body>
</html>